---
const { book } = Astro.params
import { books } from '../data/books.js';
import Layout from '../layouts/Layout.astro';

const info = books.find(b => b.id === book)

if(!info){
    return(
        Astro.redirect("/404")
    )
}
---

<Layout title={`Libro ${info.title}`}>
    <main class=" m-auto max-w-4xl">

        <div class="grid grid-cols-2 gap-x-4">

            <div class=" flex-col">
                <picture>
                    <img src={info.img} alt={`Book Cover from ${info.title}`}>
                </picture>
            </div>

            <aside>
                <h1>{info.title}</h1>
                <p>Opinion: {info.opinion}</p>
                <p>Author: {info.author}</p>
            </aside>
        </div>
    </main>
</Layout>